.styled {
  border-collapse: collapse;
  margin-left: 37%;
  border: 1px solid black;
  width: 400px;
  /*margin-top: 5%;*/
}

td {
  border: 1px solid black;
  height: 100px;
  text-align: center;
  width: 100px;
}

.games {
  display: none;
}

h3 {
  color: green;
  display: none;
  padding-top: 1%;
  text-align: center;
}

h2 {
  background-color: beige;
}

.btn-start {
  background-color: gray;
  color: white;
  font-size: 20px;
  margin-left: 37%;
}

.cell {
    text-align: center;
}

#gamemessage {
  text-align: center;
  color: red;
  font-size: 18px;
}
