.styled {
  border-collapse: collapse;
  margin-left: 37%;
  border: 1px solid black;
  width: 400px;
  /*margin-top: 5%;*/
}

td {
  border: 1px solid black;
  text-align: center;
}

h3 {
  padding-top: 1%;
  text-align: center;
}

h2 {
  background-color: beige;
}

.btn-start {
  background-color: gray;
  color: white;
  font-size: 20px;
  margin-left: 37%;
}

.cell {
    text-align: center;
}
