.container-fluid {
  background-color: #183249;
}

.styled {
  border: 4px solid #800000;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  height: 400px;
}

td {
  border: 4px solid #6c2927;
  height: 90px;
  text-align: center;
  width: 90px;
}

.games {
  display: none;
}

.buttons {
  display: none;
}

#container {
  text-align: center;
}

.btn-start, .btn-gamestats {
  background-color: #dbd095;
  border: 3px solid;
  border-radius: 15px;
  color: #800000;
  font-size: 20px;
}

.btn-start {
  display: inline-block;
}

.btn-gamestats {
  display: inline-block;
}

.gameGreeting {
  color: #dbd095;
  font-size: 200px;
  font-weight: bold;
  padding-top:1%;
  text-align: center;
  text-transform: uppercase;
}

h3 {
  font-size: 200px;
}

.headingContainer {
  align-items: center;
  background-color: #dbd095;
  display: flex;
  height: 100px;
}

.headingContainer, h2 {
  margin: auto;
  vertical-align: middle;
}

.topHeading {
  color: #800000;
  font-family: Georgia, serif;
  font-size: 50px;
  font-style: italic;
  font-weight: bold;
  padding-bottom: 22px;
  padding-top: 10px;
  vertical-align:middle;
}

#change-password, #sign-out {
  display: none;
}

.authlabel {
  color: #d6d2b5;
  font-size: 18px;
}

.authClickSignup, .authClickSignin, .authClickPswd, .authClickSignout  {
  background-color: #dbd095;
  border: 2px solid;
  border-radius: 15px;
  color: #800000;
  font-size: 15px;
}

.signup, .signin, .pswdchange {
  background-color: #c1c1c1;
}

.cell {
  background-color: #b2a97b;
  color: #800000;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

.gamemessage {
  color: #dd920a;
  font-size: 20px;
  text-align: center;
}

.message {
  color: #dd920a;
  font-size: 20px;
  text-align: left;
}
